.foodWaterInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: #282c34;
}

.food {
    display: flex;
    flex-direction: row;
}

.meals {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #282c34;
    text-align: center;
    margin: 0;
}