.Home {
  text-align: center;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainIntro {
  color: #778899;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  font-weight: bold;
  margin: 10px;
}

.main-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}