.ExperienceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: #282c34;
}
